// Tipografías //

$font-family-sans-serif: 'Ubuntu', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-lanzarote: 'ZCOOL KuaiLe', cursive;

// Puntos de ruptura //
$break-small: 414px;
$break-medium: 920px;
$break-large: 1200px;

// Colores //

$primary: #be4410;
$secondary: #459b7a;
$info: #ed991b;
$light: #f1f1f1;
$dark: #1e1208;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "light": $light,
  "dark": $dark
);
